@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat' sans-serif;
    background-color: rgb(255, 255, 255);

}

ul{
    list-style: none;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: rgb(80, 18, 18);
    font-size: 2rem;
}

header{
    background: no-repeat center/cover url('milan.webp');
    height: calc(120vh - 150px);
}

button{
    padding: 10px 15px;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    background-color: rgb(71, 7, 7);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

header nav p{
    font-weight: bold;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin: 0 15px;
}

.header-content{
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1{
    margin-bottom: 10px;
    font-size: 4rem;
}

.Jogadores{
    background: white;
    padding: 15px;
}

.Jogadores .Jogadores-title{
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.Jogadores .card{
    width: 250px;
    height: 500px;
    background: white;
    border-radius: 24px;
    margin: 10px;
    position: relative;
}

.Jogadores .card-image{
    width: 250px;
    height: 225px;
    border-radius: 24px;
    object-fit: cover;
    position: center;
    margin: auto;
}

.Jogadores .card-content{
    padding: 0 15px;
}

.Jogadores .card-content ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.Jogadores .card-content ul li{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: gray;
    font-weight: bold;
}

.Jogadores .card-content li svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.Jogadores .card .card-tag-top{
    position: absolute;
    right: 0;
    top: 15px;
    background: rgb(102, 6, 2);
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.Jogadores .card .card-tag-bottom{
    position: absolute;
    left: 0;
    top: 160px;
    background: gray;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.Jogadores .card .card-tag p{
    margin: 0;
    font-size: 0.8rem;
    color: wheat;
    font-weight: bold;
}

.contato{
    padding: 60px;
    background: #e1e8f7;
    position: relative;
    text-align: right;
}

.contato .contato-card{
    width: 350px;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 99;
    border-radius: 8px;
    top: calc(50% - 150px);
    left: calc(20% - 175px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato .contato-card h1{
    padding-left: 50px;
    text-align: center;
}

.contato .contato-card li{
    font-size: .8rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}



